.btn {
    width: 100px;
    height: 40px;

}
.btn p {
    color: white;
    font-weight: 400;
}

.start-button{
    padding: 0;
    text-align: center;
}

@media (min-width: 576px) {
    .btn-icon p {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .btn-icon p {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .btn-icon p {
        font-size: 22px;
    }
}